$('#add_new_item_modal').modal('hide').remove();
if($('#no_pc_text').length != 0){
	$('#no_pc_text').remove();
}
$('.accolade_accolade_category').append('<label class="radio"><input class="radio_buttons optional" id="accolade_accolade_category_id_<%= @accolade_category.id %>" name="accolade[accolade_category_id]" type="radio" value="<%= @accolade_category.id %>"><%= @accolade_category.name %></label>');